################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Sprites/.vs
/.vs/HomeImages/FileContentIndex/28b82f7c-00d9-40c9-9879-4877e3af98a9.vsidx
/.vs/HomeImages/FileContentIndex/56903b9c-757e-4958-a570-43a4ea2496d2.vsidx
/.vs/HomeImages/v17/.wsuo
/.vs/HomeImages/v17/workspaceFileList.bin
/.vs/VSWorkspaceState.json
/.vs/slnx.sqlite
/.vs/HomeImages/FileContentIndex/28b82f7c-00d9-40c9-9879-4877e3af98a9.vsidx
/.vs/HomeImages/FileContentIndex/b58a6e8e-c1bb-4902-82a0-9de568bca1e4.vsidx
